.button {
    
    width: 150px !important;
    height: 70px !important;
    font-size: large !important;
    margin: 5px;
    padding: 5px;
    
}
.button:hover {
    background-color: var(--primary) !important;
}