.popUp{
    position: absolute;
    background-color: var(--third);
    z-index: 5;
    transition: all .5s ease-in-out;
}

.option {
    border: 1px solid black;
}


.text :hover{
    color :rgb(0,0,0,0.5);
    cursor: pointer;
}
